<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="https://3.imimg.com/data3/BU/QV/GLADMIN-55251/ambulance-light-500x500.jpg">
    <title>Find a Buddy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  <center>
    <button onclick="window.location.href='https://sosxasrjc.peekachu.repl.co/';">
      Return to Homepage
    </button>
    <h1>Find a Buddy</h1>
    <img src="https://i.pinimg.com/564x/97/47/37/9747379f097cd6b0e292b87fd4ca9600.jpg" width="200" height="100">
    <h2>Bullying is a difficult situation to deal with, but you don't have to face it alone. There are people out there who would be happy to be your friend and support you. Connect with these people by filling up the form at the end of this page! (Please embrace these 3 options I am so thankful to them for allowing usage of their photo 😭)</h2>
    <hr>
    <br>
    <h3>1)</h3>
    <img src="https://github.com/doggocaliper/web/blob/main/WhatsApp%20Image%202023-03-13%20at%2021.47.31.jpeg?raw=true" width="200" height="100">
    <br>
    <li>Name: Vinita Adapaka</li>
    <li>Class: 24/12</li>
    <li>CCA: Tamil LDDS</li>
    <li>Special mention to Vini she's the first one that agreed to put her pic here 🥺</li>
    <br>

    <h3>2)</h3>
    <img src="https://github.com/doggocaliper/web/blob/main/WhatsApp%20Image%202023-03-13%20at%2021.48.50.jpeg?raw=true" width="100" height="200">
    <br>
    <li>Name: Wong Jun Long</li>
    <li>Class: 24/09</li>
    <li>CCA: Chinese Orchestra</li>
    <li>Special mention to Jun Long he's the second one that agreed to put his pic here 😆</li>
    <br>

    <h3>3)</h3>
    <img src="https://github.com/doggocaliper/web/blob/main/WhatsApp%20Image%202023-03-13%20at%2023.25.41.jpeg?raw=true" width="150" height="150">
    <br>
    <li>Name: Shyann Ho</li>
    <li>Class: 24/12</li>
    <li>CCA: Chinese Orchestra</li>
    <li>Special mention to myself I'm the third one that agreed to put my pic here 😄</li>
    <br>
    <h3>Please send an email to the school if you want to sign up as a buddy.</h3>
    
    <h2>Find your buddy(ies)!</h2>
    <form>
      <label for="name00:">What is your name: </label>
      <input type="text" id="name00" name="name00" value="">
      <br>
      <br>
      <label for="class00:">What is your class: </label>
      <input type="text" id="class00" name="class00" value="24/12">
      <br>
      <br>
      
      <label for="checkbox1">1) Vinita Adapaka</label>
      <input type="checkbox" id="checkbox1" name="checkbox1" value="1">
      <br>
      <label for="checkbox2">2) Wong Jun Long</label>
      <input type="checkbox" id="checkbox2" name="checkbox2" value="2">
      <br>
      <label for="checkbox2">3) Shyann Ho</label>
      <input type="checkbox" id="checkbox3" name="checkbox3" value="3">
      <br>
      <br>
      <input type="submit" onclick="alert('Thank you for your submission, your new friend will reach out to you soon.')" value="Submit">
    </form>
    <br>
    <br>
    <br>

  </center>
  </body>
</html>
