<!DOCTYPE html>
<html>
  <style>
body {
  font-family: 'Sans Comic Sans', sans-serif;
}
  </style>
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="icon" type="image/x-icon" href="https://3.imimg.com/data3/BU/QV/GLADMIN-55251/ambulance-light-500x500.jpg">
    <title>Report Station</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <center>
    <button onclick="window.location.href='https://sosxasrjc.peekachu.repl.co/';">
      Return to Homepage
    </button>
    <h1><font color="FF6F1D">Report a Bully</font></h1>
      <a href="https://youtu.be/1SVIpDMk7fk">
    <img src="https://www.skillcast.com/hubfs/whistleblower_1200x627.jpg" alt="you are whistleblower" width="200" height="100"></a>
    <h2><font color="00008B">Regardless of whether you are the victim or a bystander, you can help to make ASRJC a safer place by reporting the tormentor(s). With everyone's help, school can be a secure place for all of us. To contribute, please complete the questions below. The reports would be reviewed within 3 working days.</font></h2>
      <hr>
      <form>
      <h3>
      <label for="name">What is your name:</label>
      <input type="text" id="name" name="name"><br>
      <br>
      
      <label for="role">Please select your role:</label><br>
      <input type="checkbox" id="role1" name="victim" value="a1">
      <label for="role1">Victim</label><br>
      <input type="checkbox" id="role2" name="witness" value="a2">
      <label for="role2">Witness</label><br>
      <br>
      
      <label for="name1">What is the name of the bully (if you don't know just put 'don't know'):</label>
      <br>
      <input type="text" id="name1" name1="name1"><br>
      <br>

      <label for="description">Please describe how the bully looks like:</label>
      <br>
      <textarea id="description" name="description" rows="4" cols="40">
</textarea>
      <br>
      <br>
      
      <label for="gender">What is the bully's gender:</label>
      <input type="radio" id="male" name="gender" value="m">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="f">
      <label for="female">Female</label>
      <input type="radio" id="other" name="gender" value="o">
      <label for="other">Other</label><br>
      <br>

      <label for="assault">Form of assault:</label><br>
      <input type="checkbox" id="assault1" name="assault" value="a1">
      <label for="assault1">Physical</label><br>

      <input type="checkbox" id="assault2" name="assault" value="a2">
      <label for="assault2">Verbal</label><br>

      <input type="checkbox" id="assault3" name="assault" value="a3">
      <label for="assault3">Digital</label><br>
      <br>
      <label for="detail">Enter in detail what the bully did:</label><br>
      <textarea id="detail" name="detail" rows="4" cols="40">
</textarea>
      <br>
      <a href="https://youtu.be/ynTuA_tlZDE">submit</a>
      </h3>
      </form>
      <br>
      <br>
    </center>
  </body>
</html>
